.zoom-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .titleNav { margin-bottom: 20px;}
  .MoviePic { grid-area: 2 / 1 / 7 / 3; background-color: beige;}
  .SimilarMovies { 
    align-content:center;
  }
  .MovieTitle { 
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .Ratings {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .Summary { 
    margin-top: 40px;
    margin-left: 20px;    
    margin-bottom: 20px;
    margin-right: 100px;
  }

  .MovieFrame{
    position: relative; 
    transition: transform 0.2s;
    max-width: 325px;
    max-height: 525px;
  }

  .MovieFrame:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

  .MovieFrame:hover .overlay{
    opacity: 1;
  }

  .Recommendation-box{
    box-sizing: content-box;
    padding: .2rem;
  }

  .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease; 
    width: 100%;
    opacity:  0; 
    top: 0 ;
    z-index: 3;
    font-size: 20px;
    padding: 20px;
    text-align: center; 
  }

  .MovieFrame img:first-child  {
    position: relative;
    display: block;
    align-content: flex-start;
    min-width: 100%;
  }
  
  /* .NavBar{
    Redacted in favor of a Movie banner
    margin-bottom: 20px;
  } */
  
  #content-wrap {
    padding-bottom: 10rem;    /* Footer height */
  }

  .Media-app > .row {
    margin-right: 50px;
    overflow-x: auto;
    flex-wrap: nowrap
  }


  .MovieBanner{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 500px;
    align-content: center
  }
  
  
  .MovieBanner > img{
    position: absolute;
    top: 0;
    bottom: 0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    min-width: 100%;
    max-height: 100%;
    display: stretch;
  }
  
  .centerThis{
    position: relative; 
    z-index: 10;
    margin: auto;
  }
  
  .movie-img{
    max-width: 200px;
    max-width: 200px;
    object-fit: contain;
  }